<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Azlo Andon Cord</h1>
    <p>The andon cord is a tool to signal to the entire company that there is global problem affecting a large majority of our users</p>
    <p>Pressing the buttons below will enable the lights in Portland and San Francisco</p>
    <div class="action-panel">
      <button class="yellow">Turn on Yellow</button>
      <button class="red">Turn on Red</button>
      <button class="green">Turn on Green</button>
      <button class="blue">Turn off Andon Cord</button>
    </div>
  </body>
</html>
